/* Escribe aquí tu código */
/*Inicia codigo de Faby*/

@media screen and (min-width:920px){
.flecha{
	display: inline-block;
}

.size{
	font-size:0.6em;
}

.pdt-2{
	padding-top: 2%;
}

.pdt-3{
	padding-top: 3%;
}
}

@media screen and (max-width:600px){
.flecha{
	display: inline-block;
}

.size{
	font-size:0.5em;
}

.pdt-2{
	padding-top: 0%;
	margin-top: -2%;
}

.pdt-3{
	padding-top: 0%;
}
}
/*Termina codigo de Faby*//* Escribe aquí tu código */